{% extends 'base.html'%}
{% block content %}
{% for box in boxs %}
<div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="{{box.img_url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{box.name}}</h5>
      <p class="card-text">{{box.ability}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{box.hp}}</li>
      <li class="list-group-item">{{box.attack}}</li>
      <li class="list-group-item">{{box.defense}}</li>
      <li class="list-group-item">{{box.special_attack}}</li>
      <li class="list-group-item">{{box.special_defense}}</li>
      <li class="list-group-item">{{box.speed}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
{% endblock %}